/* app.css */

body{
  background-color: #A2A9B4;
}
#login{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: white;
  text-align: center;

  z-index: 9999;
}

#loginModal{

  margin-top: 200px;
  display: inline-block;
  width: 400px;
  height: 400px;
  border: 1px solid #BBB;
  border-radius:6px;

}

#login a{
  margin-top: 280px;
  text-decoration: none;
  color: #DAE5F3;
  font-size: 20px;
  font-weight: 400;
  padding: 18px;

  display: inline-block;
  width: 300px;
  height: 60px;

  background: -webkit-linear-gradient(top, #0B62EB, #0850EB);
  border: 1px solid #04369B;


  border-radius: 4px;
}

#login a:hover{

  /*background: -webkit-linear-gradient(top, #3775FF, #0D55F3);*/
  background: -webkit-linear-